@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

/* .dnd_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.dnd_item {
  box-sizing: border-box;
  margin-bottom: 16px;
}

.dnd_item.active {
  box-sizing: border-box;
  border: solid red 3px;
}
